<h1>Here are all numbers for <%= @name1 %> </h1>

<ul>
  <% @search_name.each() do |number| %>
    <li><%= number %></li>
  <% end %>
</ul>






<form action="/new_types" method="post">
  <label for='type2'>Add a number and type</label>
  <input id='type2' name='type2' type='text'>
  <button type="submit">Add type</button>
</form>

<ul>
<li><%= @type %></li>
</ul>

