<h1>This is <%= @new_contact.name %>s numbers</h1>

<form action="/add_phone_number/<%= @new_contact.id %>" method = "post">
	<input type="text" name = "new_phone_number" placeholder = "Add a new number">
	<input type="text" name = "type" placeholder = "Enter a type">
	<button type = "submit">Add a number</button>
</form>

<ul>
	<% @new_contact.contact.each() do |number| %>
	<li><%= number.number %> - <%= number.type %></li>
	<% end %>
</ul>