<h1>Here are all numbers for <%= @name1 %> </h1>

<ul>
  <% @search_name.each() do |number| %>
    <li><%= number %></li>
  <% end %>
</ul>

<form action="/contacts_page" method="post">
  <label for='type'>Type:</label>
  <input id='type' name='type' type='text'>

  <button type="submit">Add Type</button>
</form>