<h1>Phone Book</h1>

<h3>Add a number here:</h3>

<form action="/phones" method="post">
  <label for='new_number'>New Number and type</label>
  <input id='new_number' name='new_number' type='text'>
  
  <button type="submit">New Number</button>
</form>


<h3>Here are your numbers to add</h3>
<ul>
  <% @phones.each() do |contact| %>
<li><a href="/phones/<%= contact.id() %>"><%= contact.name() %></a></li>
<% end %>
</ul>
