<h1>Phone Book</h1>

<h3>Add a Contact here:</h3>

<form action="/contacts" method="post">
  <label for='name'>Contacts name:</label>
  <input id='name' name='name' type='text'>
  
  <label for='number'>Contacts number:</label>
  <input id='number' name='number' type='text'>
  <button type="submit">Add Contact</button>
</form>


<h3>Here are your Contacts</h3>
<ul>
  <% @contacts.each() do |contact| %>
<li>Name: <a href="/contacts_page/<%= contact.name() %>"><%= contact.name() %></a> Number: <%= contact.number() %></li>
<% end %>
</ul>