<h1>Phone Book!</h1>

<ul>
<% if @contacts.any?() %>
	<%	@contacts.each() do |contact| %>
		<li><a href="/contacts_page/<%= contact.id() %>"><%= contact.name() %></a></li>
	<% end %>
</ul>
<% else %>
	<p>There are no contacts!  Add some contacts!</p>
<% end %>

<form action="/add_contact" method ="post">
	<input type="text" name = "new_contact" placeholder = "Add a contact here">
	<button type = "submit">Submit new contact!</button>
</form>